.container {
  width: calc(100% - 20px);
  max-width: 900px;
  margin: 40px auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
}